body {
  font-family: Arial;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  text-align: center;
}

.container {
  margin-top: 80px;
}

input, select {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}